[project]
	description = Split and Reconstruct file using Shamir's Secret Sharing Scheme. Implemented in Haskell.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jtcwang
[access "refs/for/refs/*"]
	read = group user/jtcwang
	push = group user/jtcwang
	label-Code-Review = -2..+2 group user/jtcwang
	label-Verified = -1..+1 group user/jtcwang
	rebase = group user/jtcwang
	removeReviewer = group user/jtcwang
	submit = group user/jtcwang
[access "refs/heads/*"]
	read = group user/jtcwang
	create = group user/jtcwang
	push = +force group user/jtcwang
	pushMerge = group user/jtcwang
[access "refs/tags/*"]
	push = +force group user/jtcwang
	pushTag = group user/jtcwang
	pushSignedTag = group user/jtcwang
